.center{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.match{
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to right, #0f4373, #f71e1e);
}

.body{
    color:white
}

.details{
    padding: 20px;
    width: 100%;
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
}