.myMatches{
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matchList{
    max-height: 70vh;
    overflow-y: scroll;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.match{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    min-width: 370px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    color: white;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.match:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.vs{
    font-weight: 700;
    font-size: 2rem;
    margin: 0 20px;
}